.most-subtitles {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 26px;
    text-align: center;
    line-height: 2;
    color: white;
    text-shadow: 1px 1px black;
}

.most-en {
    top: 0%;
}

.most-ko {
    bottom: 0%;
}

